html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100%;
}

#progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    height: 30px;
  }
  #progress-bar {
    height: 100%;
    width: 0;
    background-color: #02d5d8;
    text-align: center;
    line-height: 30px;
    color: white;
    white-space: nowrap; 
    transition: width 0.5s;
  }

.bg-approved{
    background-color: lime !important; 
    border-bottom-color:lime !important;
    border-left-color:lime !important;
    border-right-color:lime !important;
    border-top-color:lime !important;
}

.btn-purple {
    background-color: rgb(102, 3, 202);
    border-color: rgb(102, 3, 202);
}

.bg-purple {
    background-color: rgb(102, 3, 202);
}

.bg-fade-pw {
    background: linear-gradient(to bottom, rgb(102, 3, 202) 50%, white);
}

.bg-fade-pb {
    background: linear-gradient(to bottom, rgb(102, 3, 202) 5%, black 15%);
}

.bg-carbon {
    background-color: rgb(48, 48, 48);
}

.text-purple {
    color: rgb(102, 3, 202);
}


.btn-lime {
    background-color: rgb(3, 202, 3);
    border-color: rgb(3, 202, 3);
}

.bg-lime {
    background-color: rgb(3, 202, 3);
}

.text-lime {
    color: rgb(3, 202, 3);
}

.border-lime {
    border-color: rgb(3, 202, 3) ;
}

input[type="checkbox"] {
    transform: scale(1.5); /* Adjust the scale factor as needed */
}

.btn-gray {
    background-color: rgb(63, 63, 63);
    border-color: rgb(63, 63, 63);
}

input[type="file"] {
    display: none;
}