.bg-approved{
    background-color: lime !important; 
    border-bottom-color:lime !important;
    border-left-color:lime !important;
    border-right-color:lime !important;
    border-top-color:lime !important;
}

.btn-purple {
    background-color: rgb(102, 3, 202);
    border-color: rgb(102, 3, 202);
}

.bg-purple {
    background-color: rgb(102, 3, 202);
}

.text-purple {
    color: rgb(102, 3, 202);
}


.btn-lime {
    background-color: rgb(3, 202, 3);
    border-color: rgb(3, 202, 3);
}

.bg-lime {
    background-color: rgb(3, 202, 3);
}

.text-lime {
    color: rgb(3, 202, 3);
}

.border-lime {
    border-color: rgb(3, 202, 3) ;
}

input[type="checkbox"] {
    transform: scale(1.5); /* Adjust the scale factor as needed */
}

.btn-gray {
    background-color: rgb(63, 63, 63);
    border-color: rgb(63, 63, 63);
}